.Gallery-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Gallery-SubSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 100px;
}

.Gallery-Image-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;
}

.Gallery-Image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  height: 80%;
  background: linear-gradient(to bottom, #d8d6e0, #d1ced9, #b3b0bb);
  border-radius: 5px;
}

.Gallery-Image img {
  border-radius: 5px;
  width: 100%;
}

.Gallery-Image-Section-Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.Gallery-Image-Section-Bottom .Gallery-Image {
  background: radial-gradient(circle, #ffeed7, #ffdaa7);
}
